<div class="show-stu-info">
    <p>成绩单</p>

    <% stuInfo.forEach(function (val) { %>
    <div class="stu-list">
        <p>姓名|数学|语文|英语|编程|平均分|总分</p>
        <p>================================</p>
        <% val.stuInfo.forEach(function (stuVal) { %>
        <p>
            <span><%= stuVal.name %></span>|<span><%= stuVal.subject.Math %></span>|<span><%= stuVal.subject.Chinese %></span>|<span><%= stuVal.subject.English %></span>
            |<span id="stu-program"><%= stuVal.subject.program %></span>|<span><%= stuVal.stuScore.aveScore %></span>|<span><%= stuVal.stuScore.totalScore %></span>
        </p>
        <% }) %>

        <p>================================</p>
        <p>全班平均分为：<span><%= val.classAveScore %></span></p>
        <p>全班中位分为：<span><%= val.classMiddleScore %></span></p>
    </div>
    <% }) %>

</div>
<div>
    <a href="/">返回主界面</a>
</div>